<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/css/coqdoc.css">
        <meta name="title" content="Badly Drawn Wizards">
    </head>
        <body>
            <div class="container">
                <div class="header">
                    <h1><a class="" href="/">Badly Drawn Wizards</a></h1>
                    <span>tales of mathemagic and electronic wizardry</span>
                </div>
                <div class="sidebar">
                    <img class="wizard" src="/images/wizard.png">
                    <a href="/index.html">λ Home</a>
                    <a href="/archive.html">∀ Archive</a>
                    <a href="/contact.html">Σ Contact</a>
                    <a href="/cv.html">∏ CV</a>
                </div>
                <div class="content">
                    $body$
                </div>
            </div>
        </body>
</html>
